//Estos son los los colores que voy a usar en sas, si lo quiero cambiar simplemente los puedo cambiar desde aquí, realmente no los he usado en la mayoría del los casos

$blanco: rgb(255, 255, 255);
$rojoIntenso: rgb(255, 0, 0);
$rojoOscuro: rgb(241, 79, 79) ;
$blanco-gris: rgb(241, 241, 241);
$rojoMenu:  rgb(161, 58, 58);




