.top-bar {
  height: 120px;

  background-color:  white;
   
  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__izquierda {
    //& es una propiedad de sas que no permite continuar conla clase anterior porque la clase principal es top-bar y esta clase es top-bar__izquierda
    display: flex !important;
    align-items: center;

    img {
      height: 70px;
      transition: all 0.5s;

      // & = img = img:hover
      &:hover {
        transform: translateX(-35px);
      }
    }
  }

  &__derecha {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .ui.input {
      align-items: center;

      input {
        background-color: $rojoMenu;
        border: 0;
        border: 0.5px solid rgb(0, 0, 0) !important;
        border-radius: 0;
        color: rgb(255, 255, 255) !important;
        width: 220px;
        font-size: 15px;
        transition: width 0.7s;
  
        &:focus {
          //Cuando haga click:
          width: 350px;
          border: 2px solid rgb(0, 0, 0) !important;
          background-color: $rojoMenu;
        }
      }

      i {
        //Este css por así decirlo lo crea sas automáticamente con el imput, si le das a inspeccionar lo puedes ver
        color: rgb(0, 0, 0);
        opacity: 1 !important;
        font-size: 20px;
      }
    }
  }
  ::placeholder {
    color: $blanco !important;
    
  }
}
